################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
/AlgorithmSandbox/AlgorithmSandbox/obj
/AlgorithmSandbox/AlgorithmSandbox/bin/Debug/netcoreapp3.1
